

<div class="tabs">
    <a href="#" data-id="active" class="active">Active</a>
    <a href="#" data-id="deleted">Deleted</a>
</div>
<div class="tablerunner">
    <table id="maintable">
        <thead>
        <tr>
            <th class="td-short">#</th>
            <th data-sorter="name">Name</th>
            <th data-sorter="description">Description</th>
            <th>Created</th>
            <th>Updated</th>
            <th class="td-short">Actions</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="pagination">
    Page <span id="page-current">1</span> from <span id="page-count">1</span> &nbsp;
    <button id="page-before" disabled="true"> < </button>&nbsp; <button id="page-next" disabled="true"> > </button>
</div>
