
<style>
	.glyph {
		font-size: 1.5em;
		min-width: 2em;
		margin-left: 0.3em;
		margin-bottom: 0.3em;
		display: inline-block;
		cursor: pointer;
		text-align: center;
		vertical-align: middle;
		position: relative;
	}
	.glyph .fa {
		min-height: 1em;
		min-width: 1.5em;
		text-align: center;
		vertical-align: middle;
		padding: 0.2em !important;
		display: inline-block;
		position: relative;
	}
	.glyph:hover .fa {
		background: #dedede;
		border-radius: 0.1em;
	}
	.h2t {
		color: #277399;
		position: relative;
		top: -0.5em;
	}
</style>
<div style="max-width: 39rem">
	<h2 class="h2t">Arrows</h2>
	<div class="glyph">	<span class="fa fa-caret-down"></span> </div>
	<div class="glyph">	<span class="fa fa-caret-up"></span> </div>
	<div class="glyph">	<span class="fa fa-caret-left"></span> </div>
	<div class="glyph">	<span class="fa fa-caret-right"></span> </div>

	<div class="glyph">	<span class="fa fa-chevron-left"></span> </div>
	<div class="glyph">	<span class="fa fa-chevron-right"></span> </div>
	<div class="glyph">	<span class="fa fa-chevron-up"></span> </div>
	<div class="glyph">	<span class="fa fa-chevron-down"></span> </div>
	<div class="glyph">	<span class="fa fa-toggle-down"></span> </div>
	<div class="glyph">	<span class="fa fa-toggle-up"></span> </div>
	<div class="glyph">	<span class="fa fa-toggle-right"></span> </div>
	<div class="glyph">	<span class="fa fa-toggle-left"></span> </div>
	<div class="glyph">	<span class="fa fa-angle-double-left"></span> </div>
	<div class="glyph">	<span class="fa fa-angle-double-right"></span> </div>
	<div class="glyph">	<span class="fa fa-angle-double-up"></span> </div>
	<div class="glyph">	<span class="fa fa-angle-double-down"></span> </div>
	<div class="glyph">	<span class="fa fa-angle-left"></span> </div>
	<div class="glyph">	<span class="fa fa-angle-right"></span> </div>
	<div class="glyph">	<span class="fa fa-angle-up"></span> </div>
	<div class="glyph">	<span class="fa fa-angle-down"></span> </div>
	<div class="glyph">	<span class="fa fa-arrow-left"></span> </div>
	<div class="glyph">	<span class="fa fa-arrow-right"></span> </div>
	<div class="glyph">	<span class="fa fa-arrow-up"></span> </div>
	<div class="glyph">	<span class="fa fa-arrow-down"></span> </div>
	<div class="glyph">	<span class="fa fa-arrow-circle-left"></span> </div>
	<div class="glyph">	<span class="fa fa-arrow-circle-right"></span> </div>
	<div class="glyph">	<span class="fa fa-arrow-circle-up"></span> </div>
	<div class="glyph">	<span class="fa fa-arrow-circle-down"></span> </div>
	<div class="glyph">	<span class="fa fa-arrow-circle-o-up"></span> </div>
	<div class="glyph">	<span class="fa fa-arrow-circle-o-right"></span> </div>
	<div class="glyph">	<span class="fa fa-arrow-circle-o-down"></span> </div>
	<div class="glyph">	<span class="fa fa-arrow-circle-o-left"></span> </div>
	<div class="glyph">	<span class="fa fa-chevron-circle-left"></span> </div>
	<div class="glyph">	<span class="fa fa-chevron-circle-right"></span> </div>
	<div class="glyph">	<span class="fa fa-chevron-circle-up"></span> </div>
	<div class="glyph">	<span class="fa fa-chevron-circle-down"></span> </div>
	<div class="glyph">	<span class="fa fa-long-arrow-down"></span> </div>
	<div class="glyph">	<span class="fa fa-long-arrow-up"></span> </div>
	<div class="glyph">	<span class="fa fa-long-arrow-left"></span> </div>
	<div class="glyph">	<span class="fa fa-long-arrow-right"></span> </div>
	<div class="glyph">	<span class="fa fa-hand-o-right"></span> </div>
	<div class="glyph">	<span class="fa fa-hand-o-left"></span> </div>
	<div class="glyph">	<span class="fa fa-hand-o-up"></span> </div>
	<div class="glyph">	<span class="fa fa-hand-o-down"></span> </div>
	<div class="glyph">	<span class="fa fa-undo2"></span> </div>
	<div class="glyph">	<span class="fa fa-redo2"></span> </div>
	<div class="glyph">	<span class="fa fa-forward2"></span> </div>
	<div class="glyph">	<span class="fa fa-reply"></span> </div>
	<div class="glyph">	<span class="fa fa-mail-forward"></span> </div>
	<div class="glyph">	<span class="fa fa-mail-reply"></span> </div>
	<div class="glyph">	<span class="fa fa-mail-reply-all"></span> </div>
	<div class="glyph">	<span class="fa fa-arrows-v"></span> </div>
	<div class="glyph">	<span class="fa fa-arrows-h"></span> </div>
	<div class="glyph">	<span class="fa fa-exchange"></span> </div>
	<div class="glyph">	<span class="fa fa-level-up"></span> </div>
	<div class="glyph">	<span class="fa fa-level-down"></span> </div>
	<div class="glyph">	<span class="fa fa-rotate-right"></span> </div>
	<div class="glyph">	<span class="fa fa-rotate-left"></span> </div>

	<hr />
	<h2 class="h2t">Miscellaneous</h2>

	<div class="glyph">	<span class="fa fa-infinite"></span> </div>
	<div class="glyph">	<span class="fa fa-command"></span> </div>
	<div class="glyph">	<span class="fa fa-shift"></span> </div>
	<div class="glyph">	<span class="fa fa-ctrl"></span> </div>
	<div class="glyph">	<span class="fa fa-opt"></span> </div>
	<div class="glyph">	<span class="fa fa-terminal"></span> </div>
	<div class="glyph">	<span class="fa fa-share2"></span> </div>
	<div class="glyph">	<span class="fa fa-mail"></span> </div>
	<div class="glyph">	<span class="fa fa-mail4"></span> </div>
	<div class="glyph">	<span class="fa fa-gittip"></span> </div>
	<div class="glyph">	<span class="fa fa-sun-o"></span> </div>
	<div class="glyph">	<span class="fa fa-moon-o"></span> </div>
	<div class="glyph">	<span class="fa fa-archive"></span> </div>
	<div class="glyph">	<span class="fa fa-bug"></span> </div>
	<div class="glyph">	<span class="fa fa-renren"></span> </div>
	<div class="glyph">	<span class="fa fa-pagelines"></span> </div>
	<div class="glyph">	<span class="fa fa-stack-exchange"></span> </div>
	<div class="glyph">	<span class="fa fa-slack"></span> </div>
	<div class="glyph">	<span class="fa fa-envelope-square"></span> </div>
	<div class="glyph">	<span class="fa fa-openid"></span> </div>
	<div class="glyph">	<span class="fa fa-mortar-board"></span> </div>
	<div class="glyph">	<span class="fa fa-google"></span> </div>
	<div class="glyph">	<span class="fa fa-reddit-square"></span> </div>
	<div class="glyph">	<span class="fa fa-stumbleupon-circle"></span> </div>
	<div class="glyph">	<span class="fa fa-stumbleupon"></span> </div>
	<div class="glyph">	<span class="fa fa-digg"></span> </div>
	<div class="glyph">	<span class="fa fa-pied-piper"></span> </div>
	<div class="glyph">	<span class="fa fa-pied-piper-alt"></span> </div>
	<div class="glyph">	<span class="fa fa-drupal"></span> </div>
	<div class="glyph">	<span class="fa fa-joomla"></span> </div>
	<div class="glyph">	<span class="fa fa-language"></span> </div>
	<div class="glyph">	<span class="fa fa-fax"></span> </div>
	<div class="glyph">	<span class="fa fa-paw"></span> </div>
	<div class="glyph">	<span class="fa fa-spoon"></span> </div>
	<div class="glyph">	<span class="fa fa-cube"></span> </div>
	<div class="glyph">	<span class="fa fa-cubes"></span> </div>
	<div class="glyph">	<span class="fa fa-behance"></span> </div>
	<div class="glyph">	<span class="fa fa-behance-square"></span> </div>
	<div class="glyph">	<span class="fa fa-steam-square"></span> </div>
	<div class="glyph">	<span class="fa fa-recycle"></span> </div>
	<div class="glyph">	<span class="fa fa-spotify"></span> </div>
	<div class="glyph">	<span class="fa fa-send"></span> </div>
	<div class="glyph">	<span class="fa fa-send-o"></span> </div>
	<div class="glyph">	<span class="fa fa-circle-thin"></span> </div>
	<div class="glyph">	<span class="fa fa-header"></span> </div>
	<div class="glyph">	<span class="fa fa-paragraph"></span> </div>
	<div class="glyph">	<span class="fa fa-share-alt"></span> </div>
	<div class="glyph">	<span class="fa fa-share-alt-square"></span> </div>
	<div class="glyph">	<span class="fa fa-bomb"></span> </div>
	<div class="glyph">	<span class="fa fa-soccer-ball-o"></span> </div>
	<div class="glyph">	<span class="fa fa-tty"></span> </div>
	<div class="glyph">	<span class="fa fa-binoculars"></span> </div>
	<div class="glyph">	<span class="fa fa-plug"></span> </div>
	<div class="glyph">	<span class="fa fa-slideshare"></span> </div>
	<div class="glyph">	<span class="fa fa-newspaper-o"></span> </div>
	<div class="glyph">	<span class="fa fa-wifi"></span> </div>
	<div class="glyph">	<span class="fa fa-google-wallet"></span> </div>
	<div class="glyph">	<span class="fa fa-bell-slash"></span> </div>
	<div class="glyph">	<span class="fa fa-bell-slash-o"></span> </div>
	<div class="glyph">	<span class="fa fa-trash"></span> </div>
	<div class="glyph">	<span class="fa fa-copyright"></span> </div>
	<div class="glyph">	<span class="fa fa-at"></span> </div>
	<div class="glyph">	<span class="fa fa-eyedropper"></span> </div>
	<div class="glyph">	<span class="fa fa-paint-brush"></span> </div>
	<div class="glyph">	<span class="fa fa-birthday-cake"></span> </div>
	<div class="glyph">	<span class="fa fa-area-chart"></span> </div>
	<div class="glyph">	<span class="fa fa-line-chart"></span> </div>
	<div class="glyph">	<span class="fa fa-lastfm"></span> </div>
	<div class="glyph">	<span class="fa fa-lastfm-square"></span> </div>
	<div class="glyph">	<span class="fa fa-ioxhost"></span> </div>
	<div class="glyph">	<span class="fa fa-angellist"></span> </div>
	<div class="glyph">	<span class="fa fa-meanpath"></span> </div>
	<div class="glyph">	<span class="fa fa-buysellads"></span> </div>
	<div class="glyph">	<span class="fa fa-connectdevelop"></span> </div>
	<div class="glyph">	<span class="fa fa-dashcube"></span> </div>
	<div class="glyph">	<span class="fa fa-forumbee"></span> </div>
	<div class="glyph">	<span class="fa fa-leanpub"></span> </div>
	<div class="glyph">	<span class="fa fa-sellsy"></span> </div>
	<div class="glyph">	<span class="fa fa-shirtsinbulk"></span> </div>
	<div class="glyph">	<span class="fa fa-simplybuilt"></span> </div>
	<div class="glyph">	<span class="fa fa-skyatlas"></span> </div>
	<div class="glyph">	<span class="fa fa-cart-plus"></span> </div>
	<div class="glyph">	<span class="fa fa-cart-arrow-down"></span> </div>
	<div class="glyph">	<span class="fa fa-diamond"></span> </div>
	<div class="glyph">	<span class="fa fa-heartbeat"></span> </div>
	<div class="glyph">	<span class="fa fa-server"></span> </div>
	<div class="glyph">	<span class="fa fa-medium"></span> </div>
	<div class="glyph">	<span class="fa fa-newspaper"></span> </div>
	<div class="glyph">	<span class="fa fa-edit"></span> </div>
	<div class="glyph">	<span class="fa fa-quill"></span> </div>
	<div class="glyph">	<span class="fa fa-pen"></span> </div>
	<div class="glyph">	<span class="fa fa-blog"></span> </div>
	<div class="glyph">	<span class="fa fa-droplet"></span> </div>
	<div class="glyph">	<span class="fa fa-paint-format"></span> </div>
	<div class="glyph">	<span class="fa fa-camera"></span> </div>
	<div class="glyph">	<span class="fa fa-headphones"></span> </div>
	<div class="glyph">	<span class="fa fa-dice"></span> </div>
	<div class="glyph">	<span class="fa fa-pacman"></span> </div>
	<div class="glyph">	<span class="fa fa-spades"></span> </div>
	<div class="glyph">	<span class="fa fa-clubs"></span> </div>
	<div class="glyph">	<span class="fa fa-diamonds"></span> </div>
	<div class="glyph">	<span class="fa fa-connection"></span> </div>
	<div class="glyph">	<span class="fa fa-podcast"></span> </div>
	<div class="glyph">	<span class="fa fa-feed"></span> </div>
	<div class="glyph">	<span class="fa fa-mic"></span> </div>
	<div class="glyph">	<span class="fa fa-book-2"></span> </div>
	<div class="glyph">	<span class="fa fa-books"></span> </div>
	<div class="glyph">	<span class="fa fa-stack"></span> </div>
	<div class="glyph">	<span class="fa fa-price-tag"></span> </div>
	<div class="glyph">	<span class="fa fa-price-tags"></span> </div>
	<div class="glyph">	<span class="fa fa-barcode"></span> </div>
	<div class="glyph">	<span class="fa fa-ticket"></span> </div>
	<div class="glyph">	<span class="fa fa-cart"></span> </div>
	<div class="glyph">	<span class="fa fa-calculator"></span> </div>
	<div class="glyph">	<span class="fa fa-lifebuoy"></span> </div>
	<div class="glyph">	<span class="fa fa-phone"></span> </div>
	<div class="glyph">	<span class="fa fa-phone-hang-up"></span> </div>
	<div class="glyph">	<span class="fa fa-address-book"></span> </div>
	<div class="glyph">	<span class="fa fa-envelop"></span> </div>
	<div class="glyph">	<span class="fa fa-pushpin"></span> </div>
	<div class="glyph">	<span class="fa fa-location"></span> </div>
	<div class="glyph">	<span class="fa fa-location2"></span> </div>
	<div class="glyph">	<span class="fa fa-compass-2"></span> </div>
	<div class="glyph">	<span class="fa fa-map"></span> </div>
	<div class="glyph">	<span class="fa fa-map2"></span> </div>
	<div class="glyph">	<span class="fa fa-history"></span> </div>
	<div class="glyph">	<span class="fa fa-clock-o"></span> </div>
	<div class="glyph">	<span class="fa fa-clock"></span> </div>
	<div class="glyph">	<span class="fa fa-alarm"></span> </div>
	<div class="glyph">	<span class="fa fa-stopwatch"></span> </div>
	<div class="glyph">	<span class="fa fa-drawer"></span> </div>
	<div class="glyph">	<span class="fa fa-drawer2"></span> </div>
	<div class="glyph">	<span class="fa fa-box-add"></span> </div>
	<div class="glyph">	<span class="fa fa-box-remove"></span> </div>
	<div class="glyph">	<span class="fa fa-download-2"></span> </div>
	<div class="glyph">	<span class="fa fa-upload-2"></span> </div>
	<div class="glyph">	<span class="fa fa-floppy-disk"></span> </div>
	<div class="glyph">	<span class="fa fa-drive"></span> </div>
	<div class="glyph">	<span class="fa fa-database"></span> </div>
	<div class="glyph">	<span class="fa fa-undo"></span> </div>
	<div class="glyph">	<span class="fa fa-redo"></span> </div>
	<div class="glyph">	<span class="fa fa-navicon"></span> </div>
	<div class="glyph">	<span class="fa fa-ellipsis-h"></span> </div>
	<div class="glyph">	<span class="fa fa-ellipsis-v"></span> </div>
	<div class="glyph">	<span class="fa fa-ellipsis-dots-h"></span> </div>
	<div class="glyph">	<span class="fa fa-ellipsis-dots-v"></span> </div>
	<div class="glyph">	<span class="fa fa-toggle-off"></span> </div>
	<div class="glyph">	<span class="fa fa-toggle-on"></span> </div>
	<div class="glyph">	<span class="fa fa-checkbox-checked"></span> </div>
	<div class="glyph">	<span class="fa fa-checkbox-unchecked"></span> </div>
	<div class="glyph">	<span class="fa fa-dot-circle-o"></span> </div>
	<div class="glyph">	<span class="fa fa-radio-checked"></span> </div>
	<div class="glyph">	<span class="fa fa-radio-unchecked"></span> </div>
	<div class="glyph">	<span class="fa fa-check"></span> </div>
	<div class="glyph">	<span class="fa fa-check-big"></span> </div>
	<div class="glyph">	<span class="fa fa-check-big-o"></span> </div>
	<div class="glyph">	<span class="fa fa-remove"></span> </div>
	<div class="glyph">	<span class="fa fa-remove-big"></span> </div>
	<div class="glyph">	<span class="fa fa-plus"></span> </div>
	<div class="glyph">	<span class="fa fa-plus-big"></span> </div>
	<div class="glyph">	<span class="fa fa-minus"></span> </div>
	<div class="glyph">	<span class="fa fa-minus-big"></span> </div>
	<div class="glyph">	<span class="fa fa-eye"></span> </div>
	<div class="glyph">	<span class="fa fa-eye-plus"></span> </div>
	<div class="glyph">	<span class="fa fa-eye-minus"></span> </div>
	<div class="glyph">	<span class="fa fa-eye-slash"></span> </div>
	<div class="glyph">	<span class="fa fa-circle"></span> </div>
	<div class="glyph">	<span class="fa fa-plus-circle"></span> </div>
	<div class="glyph">	<span class="fa fa-minus-circle"></span> </div>
	<div class="glyph">	<span class="fa fa-times-circle"></span> </div>
	<div class="glyph">	<span class="fa fa-check-circle"></span> </div>
	<div class="glyph">	<span class="fa fa-exclamation-circle"></span> </div>
	<div class="glyph">	<span class="fa fa-question-circle"></span> </div>
	<div class="glyph">	<span class="fa fa-info-circle"></span> </div>
	<div class="glyph">	<span class="fa fa-warning-o"></span> </div>
	<div class="glyph">	<span class="fa fa-notification-o"></span> </div>
	<div class="glyph">	<span class="fa fa-question-o"></span> </div>
	<div class="glyph">	<span class="fa fa-info-o"></span> </div>
	<div class="glyph">	<span class="fa fa-cancel-o"></span> </div>
	<div class="glyph">	<span class="fa fa-search"></span> </div>
	<div class="glyph">	<span class="fa fa-search-plus"></span> </div>
	<div class="glyph">	<span class="fa fa-search-minus"></span> </div>
	<div class="glyph">	<span class="fa fa-power-off"></span> </div>
	<div class="glyph">	<span class="fa fa-signal"></span> </div>
	<div class="glyph">	<span class="fa fa-gear"></span> </div>
	<div class="glyph">	<span class="fa fa-trash-o"></span> </div>
	<div class="glyph">	<span class="fa fa-home"></span> </div>
	<div class="glyph">	<span class="fa fa-download"></span> </div>
	<div class="glyph">	<span class="fa fa-upload"></span> </div>
	<div class="glyph">	<span class="fa fa-inbox"></span> </div>
	<div class="glyph">	<span class="fa fa-refresh"></span> </div>
	<div class="glyph">	<span class="fa fa-list-alt"></span> </div>
	<div class="glyph">	<span class="fa fa-lock"></span> </div>
	<div class="glyph">	<span class="fa fa-flag"></span> </div>
	<div class="glyph">	<span class="fa fa-qrcode"></span> </div>
	<div class="glyph">	<span class="fa fa-tag"></span> </div>
	<div class="glyph">	<span class="fa fa-tags"></span> </div>
	<div class="glyph">	<span class="fa fa-bookmark"></span> </div>
	<div class="glyph">	<span class="fa fa-video-camera"></span> </div>
	<div class="glyph">	<span class="fa fa-pencil"></span> </div>
	<div class="glyph">	<span class="fa fa-map-marker"></span> </div>
	<div class="glyph">	<span class="fa fa-tint"></span> </div>
	<div class="glyph">	<span class="fa fa-square-o"></span> </div>
	<div class="glyph">	<span class="fa fa-minus-square-o"></span> </div>
	<div class="glyph">	<span class="fa fa-edit-square-o"></span> </div>
	<div class="glyph">	<span class="fa fa-plus-square-o"></span> </div>
	<div class="glyph">	<span class="fa fa-share-square-o"></span> </div>
	<div class="glyph">	<span class="fa fa-check-square-o"></span> </div>
	<div class="glyph">	<span class="fa fa-glass"></span> </div>
	<div class="glyph">	<span class="fa fa-arrows"></span> </div>
	<div class="glyph">	<span class="fa fa-blocked"></span> </div>
	<div class="glyph">	<span class="fa fa-crosshairs"></span> </div>
	<div class="glyph">	<span class="fa fa-times-circle-o"></span> </div>
	<div class="glyph">	<span class="fa fa-check-circle-o"></span> </div>
	<div class="glyph">	<span class="fa fa-circle-o"></span> </div>
	<div class="glyph">	<span class="fa fa-ban"></span> </div>
	<div class="glyph">	<span class="fa fa-asterisk"></span> </div>
	<div class="glyph">	<span class="fa fa-gift"></span> </div>
	<div class="glyph">	<span class="fa fa-leaf"></span> </div>
	<div class="glyph">	<span class="fa fa-warning"></span> </div>
	<div class="glyph">	<span class="fa fa-calendar"></span> </div>
	<div class="glyph">	<span class="fa fa-calendar-2"></span> </div>
	<div class="glyph">	<span class="fa fa-calendar-o"></span> </div>
	<div class="glyph">	<span class="fa fa-circle-o-notch"></span> </div>
	<div class="glyph">	<span class="fa fa-magnet"></span> </div>
	<div class="glyph">	<span class="fa fa-retweet"></span> </div>
	<div class="glyph">	<span class="fa fa-shopping-cart"></span> </div>
	<div class="glyph">	<span class="fa fa-bar-chart-o"></span> </div>
	<div class="glyph">	<span class="fa fa-camera-retro"></span> </div>
	<div class="glyph">	<span class="fa fa-key-old"></span> </div>
	<div class="glyph">	<span class="fa fa-gears"></span> </div>
	<div class="glyph">	<span class="fa fa-heart-o"></span> </div>
	<div class="glyph">	<span class="fa fa-thumb-tack"></span> </div>
	<div class="glyph">	<span class="fa fa-external-link"></span> </div>
	<div class="glyph">	<span class="fa fa-trophy"></span> </div>
	<div class="glyph">	<span class="fa fa-lemon-o"></span> </div>
	<div class="glyph">	<span class="fa fa-bookmark-o"></span> </div>
	<div class="glyph">	<span class="fa fa-phone-square"></span> </div>
	<div class="glyph">	<span class="fa fa-unlock"></span> </div>
	<div class="glyph">	<span class="fa fa-credit-card"></span> </div>
	<div class="glyph">	<span class="fa fa-rss"></span> </div>
	<div class="glyph">	<span class="fa fa-hdd-o"></span> </div>
	<div class="glyph">	<span class="fa fa-bullhorn"></span> </div>
	<div class="glyph">	<span class="fa fa-bell-o"></span> </div>
	<div class="glyph">	<span class="fa fa-certificate"></span> </div>
	<div class="glyph">	<span class="fa fa-globe"></span> </div>
	<div class="glyph">	<span class="fa fa-wrench"></span> </div>
	<div class="glyph">	<span class="fa fa-tasks"></span> </div>
	<div class="glyph">	<span class="fa fa-filter"></span> </div>
	<div class="glyph">	<span class="fa fa-briefcase-2"></span> </div>
	<div class="glyph">	<span class="fa fa-arrows-alt"></span> </div>
	<div class="glyph">	<span class="fa fa-flask"></span> </div>
	<div class="glyph">	<span class="fa fa-paperclip"></span> </div>
	<div class="glyph">	<span class="fa fa-save"></span> </div>
	<div class="glyph">	<span class="fa fa-magic"></span> </div>
	<div class="glyph">	<span class="fa fa-magic-wand"></span> </div>
	<div class="glyph">	<span class="fa fa-columns"></span> </div>
	<div class="glyph">	<span class="fa fa-unsorted"></span> </div>
	<div class="glyph">	<span class="fa fa-envelope"></span> </div>
	<div class="glyph">	<span class="fa fa-envelope-o"></span> </div>
	<div class="glyph">	<span class="fa fa-star"></span> </div>
	<div class="glyph">	<span class="fa fa-star-half"></span> </div>
	<div class="glyph">	<span class="fa fa-star-half-empty"></span> </div>
	<div class="glyph">	<span class="fa fa-star-o"></span> </div>
	<div class="glyph">	<span class="fa fa-th-large"></span> </div>
	<div class="glyph">	<span class="fa fa-th"></span> </div>
	<div class="glyph">	<span class="fa fa-th-list"></span> </div>
	<div class="glyph">	<span class="fa fa-dashboard"></span> </div>
	<div class="glyph">	<span class="fa fa-flash"></span> </div>
	<div class="glyph">	<span class="fa fa-sitemap"></span> </div>
	<div class="glyph">	<span class="fa fa-umbrella"></span> </div>
	<div class="glyph">	<span class="fa fa-lightbulb-o"></span> </div>
	<div class="glyph">	<span class="fa fa-stethoscope"></span> </div>
	<div class="glyph">	<span class="fa fa-suitcase"></span> </div>
	<div class="glyph">	<span class="fa fa-bell"></span> </div>
	<div class="glyph">	<span class="fa fa-coffee"></span> </div>
	<div class="glyph">	<span class="fa fa-cutlery"></span> </div>
	<div class="glyph">	<span class="fa fa-medkit"></span> </div>
	<div class="glyph">	<span class="fa fa-beer"></span> </div>
	<div class="glyph">	<span class="fa fa-gamepad"></span> </div>
	<div class="glyph">	<span class="fa fa-keyboard-o"></span> </div>
	<div class="glyph">	<span class="fa fa-flag-o"></span> </div>
	<div class="glyph">	<span class="fa fa-flag-checkered"></span> </div>
	<div class="glyph">	<span class="fa fa-location-arrow"></span> </div>
	<div class="glyph">	<span class="fa fa-code-fork"></span> </div>
	<div class="glyph">	<span class="fa fa-question"></span> </div>
	<div class="glyph">	<span class="fa fa-info"></span> </div>
	<div class="glyph">	<span class="fa fa-exclamation"></span> </div>
	<div class="glyph">	<span class="fa fa-puzzle-piece"></span> </div>
	<div class="glyph">	<span class="fa fa-shield"></span> </div>
	<div class="glyph">	<span class="fa fa-fire-extinguisher"></span> </div>
	<div class="glyph">	<span class="fa fa-maxcdn"></span> </div>
	<div class="glyph">	<span class="fa fa-html5"></span> </div>
	<div class="glyph">	<span class="fa fa-css3"></span> </div>
	<div class="glyph">	<span class="fa fa-anchor"></span> </div>
	<div class="glyph">	<span class="fa fa-unlock-alt"></span> </div>
	<div class="glyph">	<span class="fa fa-bullseye"></span> </div>
	<div class="glyph">	<span class="fa fa-square"></span> </div>
	<div class="glyph">	<span class="fa fa-h-square"></span> </div>
	<div class="glyph">	<span class="fa fa-plus-square"></span> </div>
	<div class="glyph">	<span class="fa fa-rss-square"></span> </div>
	<div class="glyph">	<span class="fa fa-minus-square"></span> </div>
	<div class="glyph">	<span class="fa fa-check-square"></span> </div>
	<div class="glyph">	<span class="fa fa-pencil-square"></span> </div>
	<div class="glyph">	<span class="fa fa-external-link-square"></span> </div>
	<div class="glyph">	<span class="fa fa-share-square"></span> </div>
	<div class="glyph">	<span class="fa fa-compass"></span> </div>
	<div class="glyph">	<span class="fa fa-history2"></span> </div>
	<div class="glyph">	<span class="fa fa-yc"></span> </div>
	<div class="glyph">	<span class="fa fa-optin-monster"></span> </div>
	<div class="glyph">	<span class="fa fa-opencart"></span> </div>
	<div class="glyph">	<span class="fa fa-expeditedssl"></span> </div>
	<div class="glyph">	<span class="fa fa-battery-4"></span> </div>
	<div class="glyph">	<span class="fa fa-battery-3"></span> </div>
	<div class="glyph">	<span class="fa fa-battery-2"></span> </div>
	<div class="glyph">	<span class="fa fa-battery-1"></span> </div>
	<div class="glyph">	<span class="fa fa-battery-0"></span> </div>
	<div class="glyph">	<span class="fa fa-hourglass-o"></span> </div>
	<div class="glyph">	<span class="fa fa-hourglass-1"></span> </div>
	<div class="glyph">	<span class="fa fa-hourglass-2"></span> </div>
	<div class="glyph">	<span class="fa fa-hourglass-3"></span> </div>
	<div class="glyph">	<span class="fa fa-hourglass"></span> </div>
	<div class="glyph">	<span class="fa fa-hand-grab-o"></span> </div>
	<div class="glyph">	<span class="fa fa-hand-stop-o"></span> </div>
	<div class="glyph">	<span class="fa fa-hand-scissors-o"></span> </div>
	<div class="glyph">	<span class="fa fa-hand-lizard-o"></span> </div>
	<div class="glyph">	<span class="fa fa-hand-spock-o"></span> </div>
	<div class="glyph">	<span class="fa fa-hand-pointer-o"></span> </div>
	<div class="glyph">	<span class="fa fa-hand-peace-o"></span> </div>
	<div class="glyph">	<span class="fa fa-mouse-pointer"></span> </div>
	<div class="glyph">	<span class="fa fa-i-cursor"></span> </div>
	<div class="glyph">	<span class="fa fa-object-group"></span> </div>
	<div class="glyph">	<span class="fa fa-object-ungroup"></span> </div>
	<div class="glyph">	<span class="fa fa-sticky-note"></span> </div>
	<div class="glyph">	<span class="fa fa-sticky-note-o"></span> </div>
	<div class="glyph">	<span class="fa fa-cc-diners-club"></span> </div>
	<div class="glyph">	<span class="fa fa-clone"></span> </div>
	<div class="glyph">	<span class="fa fa-balance-scale"></span> </div>
	<div class="glyph">	<span class="fa fa-trademark"></span> </div>
	<div class="glyph">	<span class="fa fa-registered"></span> </div>
	<div class="glyph">	<span class="fa fa-creative-commons"></span> </div>
	<div class="glyph">	<span class="fa fa-gg"></span> </div>
	<div class="glyph">	<span class="fa fa-gg-circle"></span> </div>
	<div class="glyph">	<span class="fa fa-tripadvisor"></span> </div>
	<div class="glyph">	<span class="fa fa-odnoklassniki"></span> </div>
	<div class="glyph">	<span class="fa fa-odnoklassniki-square"></span> </div>
	<div class="glyph">	<span class="fa fa-get-pocket"></span> </div>
	<div class="glyph">	<span class="fa fa-wikipedia-w"></span> </div>
	<div class="glyph">	<span class="fa fa-contao"></span> </div>
	<div class="glyph">	<span class="fa fa-500px"></span> </div>
	<div class="glyph">	<span class="fa fa-amazon"></span> </div>
	<div class="glyph">	<span class="fa fa-calendar-plus-o"></span> </div>
	<div class="glyph">	<span class="fa fa-calendar-minus-o"></span> </div>
	<div class="glyph">	<span class="fa fa-calendar-times-o"></span> </div>
	<div class="glyph">	<span class="fa fa-calendar-check-o"></span> </div>
	<div class="glyph">	<span class="fa fa-industry"></span> </div>
	<div class="glyph">	<span class="fa fa-map-pin"></span> </div>
	<div class="glyph">	<span class="fa fa-map-signs"></span> </div>
	<div class="glyph">	<span class="fa fa-commenting"></span> </div>
	<div class="glyph">	<span class="fa fa-commenting-o"></span> </div>
	<div class="glyph">	<span class="fa fa-houzz"></span> </div>
	<div class="glyph">	<span class="fa fa-black-tie"></span> </div>
	<div class="glyph">	<span class="fa fa-fonticons"></span> </div>
	<div class="glyph">	<span class="fa fa-reddit-alien"></span> </div>
	<div class="glyph">	<span class="fa fa-edge"></span> </div>
	<div class="glyph">	<span class="fa fa-codiepie"></span> </div>
	<div class="glyph">	<span class="fa fa-modx"></span> </div>
	<div class="glyph">	<span class="fa fa-fort-awesome"></span> </div>
	<div class="glyph">	<span class="fa fa-usb"></span> </div>
	<div class="glyph">	<span class="fa fa-product-hunt"></span> </div>
	<div class="glyph">	<span class="fa fa-mixcloud"></span> </div>
	<div class="glyph">	<span class="fa fa-scribd"></span> </div>
	<div class="glyph">	<span class="fa fa-shopping-bag"></span> </div>
	<div class="glyph">	<span class="fa fa-shopping-basket"></span> </div>
	<div class="glyph">	<span class="fa fa-hashtag"></span> </div>
	<div class="glyph">	<span class="fa fa-bluetooth"></span> </div>
	<div class="glyph">	<span class="fa fa-bluetooth-b"></span> </div>
	<div class="glyph">	<span class="fa fa-percent"></span> </div>
	<div class="glyph">	<span class="fa fa-gitlab"></span> </div>
	<div class="glyph">	<span class="fa fa-wpbeginner"></span> </div>
	<div class="glyph">	<span class="fa fa-wpforms"></span> </div>
	<div class="glyph">	<span class="fa fa-envira"></span> </div>
	<div class="glyph">	<span class="fa fa-universal-access"></span> </div>
	<div class="glyph">	<span class="fa fa-wheelchair-alt"></span> </div>
	<div class="glyph">	<span class="fa fa-question-circle-o"></span> </div>
	<div class="glyph">	<span class="fa fa-blind"></span> </div>
	<div class="glyph">	<span class="fa fa-audio-description"></span> </div>
	<div class="glyph">	<span class="fa fa-volume-control-phone"></span> </div>
	<div class="glyph">	<span class="fa fa-braille"></span> </div>
	<div class="glyph">	<span class="fa fa-assistive-listening-systems"></span> </div>
	<div class="glyph">	<span class="fa fa-asl-interpreting"></span> </div>
	<div class="glyph">	<span class="fa fa-deaf"></span> </div>
	<div class="glyph">	<span class="fa fa-glide"></span> </div>
	<div class="glyph">	<span class="fa fa-glide-g"></span> </div>
	<div class="glyph">	<span class="fa fa-sign-language"></span> </div>
	<div class="glyph">	<span class="fa fa-low-vision"></span> </div>
	<div class="glyph">	<span class="fa fa-viadeo"></span> </div>
	<div class="glyph">	<span class="fa fa-viadeo-square"></span> </div>
	<div class="glyph">	<span class="fa fa-snapchat"></span> </div>
	<div class="glyph">	<span class="fa fa-snapchat-ghost"></span> </div>
	<div class="glyph">	<span class="fa fa-snapchat-square"></span> </div>
	<div class="glyph">	<span class="fa fa-pied-piper"></span> </div>
	<div class="glyph">	<span class="fa fa-first-order"></span> </div>
	<div class="glyph">	<span class="fa fa-yoast"></span> </div>
	<div class="glyph">	<span class="fa fa-themeisle"></span> </div>
	<div class="glyph">	<span class="fa fa-fa"></span> </div>
	<hr />
	<h2 class="h2t">Money</h2>
	<div class="glyph">	<span class="fa fa-money"></span> </div>
	<div class="glyph">	<span class="fa fa-euro"></span> </div>
	<div class="glyph">	<span class="fa fa-gbp"></span> </div>
	<div class="glyph">	<span class="fa fa-dollar"></span> </div>
	<div class="glyph">	<span class="fa fa-rupee"></span> </div>
	<div class="glyph">	<span class="fa fa-cny"></span> </div>
	<div class="glyph">	<span class="fa fa-grivna"></span> </div>
	<div class="glyph">	<span class="fa fa-ruble"></span> </div>
	<div class="glyph">	<span class="fa fa-won"></span> </div>
	<div class="glyph">	<span class="fa fa-shekel"></span> </div>
	<div class="glyph">	<span class="fa fa-bitcoin"></span> </div>
	<div class="glyph">	<span class="fa fa-turkish"></span> </div>
	<div class="glyph">	<span class="fa fa-coin-dollar"></span> </div>
	<div class="glyph">	<span class="fa fa-coin-euro"></span> </div>
	<div class="glyph">	<span class="fa fa-coin-pound"></span> </div>
	<div class="glyph">	<span class="fa fa-coin-yen"></span> </div>
	<div class="glyph">	<span class="fa fa-cc"></span> </div>
	<div class="glyph">	<span class="fa fa-cc-visa"></span> </div>
	<div class="glyph">	<span class="fa fa-cc-mastercard"></span> </div>
	<div class="glyph">	<span class="fa fa-cc-discover"></span> </div>
	<div class="glyph">	<span class="fa fa-cc-amex"></span> </div>
	<div class="glyph">	<span class="fa fa-cc-paypal"></span> </div>
	<div class="glyph">	<span class="fa fa-cc-jcb"></span> </div>
	<div class="glyph">	<span class="fa fa-credit-card-alt"></span> </div>
	<div class="glyph">	<span class="fa fa-cc-stripe"></span> </div>

	<hr />
	<h2 class="h2t">Editor</h2>

	<div class="glyph">	<span class="fa fa-print"></span> </div>
	<div class="glyph">	<span class="fa fa-font"></span> </div>
	<div class="glyph">	<span class="fa fa-bold"></span> </div>
	<div class="glyph">	<span class="fa fa-italic"></span> </div>
	<div class="glyph">	<span class="fa fa-text-height"></span> </div>
	<div class="glyph">	<span class="fa fa-text-width"></span> </div>
	<div class="glyph">	<span class="fa fa-align-left"></span> </div>
	<div class="glyph">	<span class="fa fa-align-center"></span> </div>
	<div class="glyph">	<span class="fa fa-align-right"></span> </div>
	<div class="glyph">	<span class="fa fa-align-justify"></span> </div>
	<div class="glyph">	<span class="fa fa-list"></span> </div>
	<div class="glyph">	<span class="fa fa-dedent"></span> </div>
	<div class="glyph">	<span class="fa fa-indent"></span> </div>
	<div class="glyph">	<span class="fa fa-sort-alpha-asc"></span> </div>
	<div class="glyph">	<span class="fa fa-sort-alpha-desc"></span> </div>
	<div class="glyph">	<span class="fa fa-sort-amount-asc"></span> </div>
	<div class="glyph">	<span class="fa fa-sort-amount-desc"></span> </div>
	<div class="glyph">	<span class="fa fa-sort-numeric-asc"></span> </div>
	<div class="glyph">	<span class="fa fa-sort-numeric-desc"></span> </div>
	<div class="glyph">	<span class="fa fa-superscript"></span> </div>
	<div class="glyph">	<span class="fa fa-subscript"></span> </div>
	<div class="glyph">	<span class="fa fa-eraser"></span> </div>
	<div class="glyph">	<span class="fa fa-list-ul"></span> </div>
	<div class="glyph">	<span class="fa fa-list-ol"></span> </div>
	<div class="glyph">	<span class="fa fa-strikethrough"></span> </div>
	<div class="glyph">	<span class="fa fa-underline"></span> </div>
	<div class="glyph">	<span class="fa fa-table"></span> </div>
	<div class="glyph">	<span class="fa fa-table-2"></span> </div>
	<div class="glyph">	<span class="fa fa-link"></span> </div>
	<div class="glyph">	<span class="fa fa-chain"></span> </div>
	<div class="glyph">	<span class="fa fa-unlink"></span> </div>
	<div class="glyph">	<span class="fa fa-cut"></span> </div>
	<div class="glyph">	<span class="fa fa-scissors"></span> </div>
	<div class="glyph">	<span class="fa fa-copy"></span> </div>
	<div class="glyph">	<span class="fa fa-paste"></span> </div>
	<div class="glyph">	<span class="fa fa-clipboard"></span> </div>
	<div class="glyph">	<span class="fa fa-crop"></span> </div>
	<div class="glyph">	<span class="fa fa-make-group"></span> </div>
	<div class="glyph">	<span class="fa fa-ungroup"></span> </div>
	<div class="glyph">	<span class="fa fa-ligature"></span> </div>
	<div class="glyph">	<span class="fa fa-omega"></span> </div>
	<div class="glyph">	<span class="fa fa-sigma"></span> </div>
	<div class="glyph">	<span class="fa fa-page-break"></span> </div>
	<div class="glyph">	<span class="fa fa-clear-formatting"></span> </div>
	<div class="glyph">	<span class="fa fa-section"></span> </div>
	<div class="glyph">	<span class="fa fa-share"></span> </div>
	<div class="glyph">	<span class="fa fa-code-2"></span> </div>
	<div class="glyph">	<span class="fa fa-code"></span> </div>
	<div class="glyph">	<span class="fa fa-spell-check"></span> </div>
	<div class="glyph">	<span class="fa fa-tab"></span> </div>
	<div class="glyph">	<span class="fa fa-move-up"></span> </div>
	<div class="glyph">	<span class="fa fa-move-down"></span> </div>

	<hr />
	<h2 class="h2t">Devices</h2>

	<div class="glyph">	<span class="fa fa-windows"></span> </div>
	<div class="glyph">	<span class="fa fa-apple"></span> </div>
	<div class="glyph">	<span class="fa fa-linux"></span> </div>
	<div class="glyph">	<span class="fa fa-chrome"></span> </div>
	<div class="glyph">	<span class="fa fa-firefox"></span> </div>
	<div class="glyph">	<span class="fa fa-IE"></span> </div>
	<div class="glyph">	<span class="fa fa-opera"></span> </div>
	<div class="glyph">	<span class="fa fa-safari"></span> </div>
	<div class="glyph">	<span class="fa fa-desktop"></span> </div>
	<div class="glyph">	<span class="fa fa-laptop"></span> </div>
	<div class="glyph">	<span class="fa fa-mobile-phone"></span> </div>
	<div class="glyph">	<span class="fa fa-printer"></span> </div>
	<div class="glyph">	<span class="fa fa-keyboard"></span> </div>
	<div class="glyph">	<span class="fa fa-display"></span> </div>
	<div class="glyph">	<span class="fa fa-mobile"></span> </div>
	<div class="glyph">	<span class="fa fa-tablet"></span> </div>
	<div class="glyph">	<span class="fa fa-tv"></span> </div>

	<hr />
	<h2 class="h2t">Folders and files</h2>

	<div class="glyph">	<span class="fa fa-folder"></span> </div>
	<div class="glyph">	<span class="fa fa-folder-open"></span> </div>
	<div class="glyph">	<span class="fa fa-folder-plus"></span> </div>
	<div class="glyph">	<span class="fa fa-folder-minus"></span> </div>
	<div class="glyph">	<span class="fa fa-folder-download"></span> </div>
	<div class="glyph">	<span class="fa fa-folder-upload"></span> </div>
	<div class="glyph">	<span class="fa fa-folder-o"></span> </div>
	<div class="glyph">	<span class="fa fa-folder-open-o"></span> </div>
	<div class="glyph">	<span class="fa fa-file-text-2"></span> </div>
	<div class="glyph">	<span class="fa fa-profile"></span> </div>
	<div class="glyph">	<span class="fa fa-file-o"></span> </div>
	<div class="glyph">	<span class="fa fa-file-text-o"></span> </div>
	<div class="glyph">	<span class="fa fa-file"></span> </div>
	<div class="glyph">	<span class="fa fa-file-text"></span> </div>
	<div class="glyph">	<span class="fa fa-file-pdf-o"></span> </div>
	<div class="glyph">	<span class="fa fa-file-word-o"></span> </div>
	<div class="glyph">	<span class="fa fa-file-excel-o"></span> </div>
	<div class="glyph">	<span class="fa fa-file-powerpoint-o"></span> </div>
	<div class="glyph">	<span class="fa fa-file-photo-o"></span> </div>
	<div class="glyph">	<span class="fa fa-file-zip-o"></span> </div>
	<div class="glyph">	<span class="fa fa-file-sound-o"></span> </div>
	<div class="glyph">	<span class="fa fa-file-movie-o"></span> </div>
	<div class="glyph">	<span class="fa fa-file-code-o"></span> </div>
	<div class="glyph">	<span class="fa fa-film"></span> </div>
	<div class="glyph">	<span class="fa fa-image"></span> </div>
	<div class="glyph">	<span class="fa fa-images"></span> </div>

	<hr />
	<h2 class="h2t">Users</h2>

	<div class="glyph">	<span class="fa fa-user"></span> </div>
	<div class="glyph">	<span class="fa fa-users"></span> </div>
	<div class="glyph">	<span class="fa fa-group"></span> </div>
	<div class="glyph">	<span class="fa fa-user-plus"></span> </div>
	<div class="glyph">	<span class="fa fa-user-minus"></span> </div>
	<div class="glyph">	<span class="fa fa-user-times"></span> </div>
	<div class="glyph">	<span class="fa fa-user-check"></span> </div>
	<div class="glyph">	<span class="fa fa-user-tie"></span> </div>
	<div class="glyph">	<span class="fa fa-user-secret"></span> </div>
	<div class="glyph">	<span class="fa fa-user-md"></span> </div>
	<div class="glyph">	<span class="fa fa-bed"></span> </div>
	<div class="glyph">	<span class="fa fa-female"></span> </div>
	<div class="glyph">	<span class="fa fa-male"></span> </div>
	<div class="glyph">	<span class="fa fa-child"></span> </div>
	<div class="glyph">	<span class="fa fa-street-view"></span> </div>
	<div class="glyph">	<span class="fa fa-accessibility"></span> </div>
	<div class="glyph">	<span class="fa fa-wheelchair"></span> </div>
	<div class="glyph">	<span class="fa fa-sign-in"></span> </div>
	<div class="glyph">	<span class="fa fa-sign-out"></span> </div>
	<div class="glyph">	<span class="fa fa-thumbs-up"></span> </div>
	<div class="glyph">	<span class="fa fa-thumbs-down"></span> </div>
	<div class="glyph">	<span class="fa fa-thumbs-o-up"></span> </div>
	<div class="glyph">	<span class="fa fa-thumbs-o-down"></span> </div>
	<div class="glyph">	<span class="fa fa-comment"></span> </div>
	<div class="glyph">	<span class="fa fa-comments"></span> </div>
	<div class="glyph">	<span class="fa fa-bubble"></span> </div>
	<div class="glyph">	<span class="fa fa-bubbles"></span> </div>
	<div class="glyph">	<span class="fa fa-bubbles2"></span> </div>
	<div class="glyph">	<span class="fa fa-bubble2"></span> </div>
	<div class="glyph">	<span class="fa fa-bubbles3"></span> </div>
	<div class="glyph">	<span class="fa fa-bubbles4"></span> </div>
	<div class="glyph">	<span class="fa fa-comment-o"></span> </div>
	<div class="glyph">	<span class="fa fa-comments-o"></span> </div>
	<div class="glyph">	<span class="fa fa-quotes-left"></span> </div>
	<div class="glyph">	<span class="fa fa-quotes-right"></span> </div>
	<div class="glyph">	<span class="fa fa-quote-left"></span> </div>
	<div class="glyph">	<span class="fa fa-quote-right"></span> </div>

	<hr />
	<h2 class="h2t">Spinners</h2>

	<div class="glyph">	<span class="fa fa-spinner fa-spin"></span> </div>
	<div class="glyph">	<span class="fa fa-spinner-2 fa-spin"></span> </div>
	<div class="glyph">	<span class="fa fa-spinner-3 fa-spin"></span> </div>
	<div class="glyph">	<span class="fa fa-spinner-4 fa-spin"></span> </div>
	<div class="glyph">	<span class="fa fa-spinner-5 fa-spin"></span> </div>
	<div class="glyph">	<span class="fa fa-spinner-6 fa-spin"></span> </div>
	<div class="glyph">	<span class="fa fa-spinner-7 fa-spin"></span> </div>
	<div class="glyph">	<span class="fa fa-spinner-8 fa-spin"></span> </div>

	<hr />
	<h2 class="h2t">Real objects</h2>

	<div class="glyph">	<span class="fa fa-plane"></span> </div>
	<div class="glyph">	<span class="fa fa-fighter-jet"></span> </div>
	<div class="glyph">	<span class="fa fa-space-shuttle"></span> </div>
	<div class="glyph">	<span class="fa fa-rocket"></span> </div>
	<div class="glyph">	<span class="fa fa-train"></span> </div>
	<div class="glyph">	<span class="fa fa-subway"></span> </div>
	<div class="glyph">	<span class="fa fa-truck"></span> </div>
	<div class="glyph">	<span class="fa fa-ambulance"></span> </div>
	<div class="glyph">	<span class="fa fa-ship"></span> </div>
	<div class="glyph">	<span class="fa fa-motorcycle"></span> </div>
	<div class="glyph">	<span class="fa fa-car"></span> </div>
	<div class="glyph">	<span class="fa fa-cab"></span> </div>
	<div class="glyph">	<span class="fa fa-tree"></span> </div>
	<div class="glyph">	<span class="fa fa-home-2"></span> </div>
	<div class="glyph">	<span class="fa fa-office"></span> </div>
	<div class="glyph">	<span class="fa fa-building"></span> </div>
	<div class="glyph">	<span class="fa fa-building-o"></span> </div>
	<div class="glyph">	<span class="fa fa-institution"></span> </div>
	<div class="glyph">	<span class="fa fa-library"></span> </div>
	<div class="glyph">	<span class="fa fa-hospital-o"></span> </div>
	<div class="glyph">	<span class="fa fa-bicycle"></span> </div>
	<div class="glyph">	<span class="fa fa-bus"></span> </div>
	<div class="glyph">	<span class="fa fa-key"></span> </div>
	<div class="glyph">	<span class="fa fa-book"></span> </div>
	<div class="glyph">	<span class="fa fa-legal"></span> </div>
	<div class="glyph">	<span class="fa fa-hammer"></span> </div>
	<div class="glyph">	<span class="fa fa-aid-kit"></span> </div>
	<div class="glyph">	<span class="fa fa-pie-chart"></span> </div>
	<div class="glyph">	<span class="fa fa-stats-dots"></span> </div>
	<div class="glyph">	<span class="fa fa-stats-bars"></span> </div>
	<div class="glyph">	<span class="fa fa-stats-bars2"></span> </div>
	<div class="glyph">	<span class="fa fa-mug"></span> </div>
	<div class="glyph">	<span class="fa fa-leaf-2"></span> </div>
	<div class="glyph">	<span class="fa fa-meter"></span> </div>
	<div class="glyph">	<span class="fa fa-fire"></span> </div>
	<div class="glyph">	<span class="fa fa-lab"></span> </div>
	<div class="glyph">	<span class="fa fa-bin"></span> </div>
	<div class="glyph">	<span class="fa fa-briefcase"></span> </div>
	<div class="glyph">	<span class="fa fa-road"></span> </div>
	<div class="glyph">	<span class="fa fa-target"></span> </div>
	<div class="glyph">	<span class="fa fa-shield-2"></span> </div>
	<div class="glyph">	<span class="fa fa-power-cord"></span> </div>
	<div class="glyph">	<span class="fa fa-branches"></span> </div>
	<div class="glyph">	<span class="fa fa-menu"></span> </div>
	<div class="glyph">	<span class="fa fa-menu-2"></span> </div>
	<div class="glyph">	<span class="fa fa-cloud"></span> </div>
	<div class="glyph">	<span class="fa fa-cloud-download"></span> </div>
	<div class="glyph">	<span class="fa fa-cloud-upload"></span> </div>
	<div class="glyph">	<span class="fa fa-cloud-check"></span> </div>
	<div class="glyph">	<span class="fa fa-download2"></span> </div>
	<div class="glyph">	<span class="fa fa-upload2"></span> </div>
	<div class="glyph">	<span class="fa fa-sphere"></span> </div>
	<div class="glyph">	<span class="fa fa-attachment"></span> </div>
	<div class="glyph">	<span class="fa fa-sun"></span> </div>
	<div class="glyph">	<span class="fa fa-adjust"></span> </div>
	<div class="glyph">	<span class="fa fa-brightness-contrast"></span> </div>
	<div class="glyph">	<span class="fa fa-heart"></span> </div>
	<div class="glyph">	<span class="fa fa-heart-broken"></span> </div>

	<hr />
	<h2 class="h2t">Emoticons</h2>

	<div class="glyph">	<span class="fa fa-happy-o fa-smile"></span> </div>
	<div class="glyph">	<span class="fa fa-smile-o fa-smile"></span> </div>
	<div class="glyph">	<span class="fa fa-tongue-o fa-smile"></span> </div>
	<div class="glyph">	<span class="fa fa-frown-o fa-smile"></span> </div>
	<div class="glyph">	<span class="fa fa-wink-o fa-smile"></span> </div>
	<div class="glyph">	<span class="fa fa-grin-o fa-smile"></span> </div>
	<div class="glyph">	<span class="fa fa-cool-o fa-smile"></span> </div>
	<div class="glyph">	<span class="fa fa-angry-o fa-smile"></span> </div>
	<div class="glyph">	<span class="fa fa-evil-o fa-smile"></span> </div>
	<div class="glyph">	<span class="fa fa-shocked-o fa-smile"></span> </div>
	<div class="glyph">	<span class="fa fa-baffled-o fa-smile"></span> </div>
	<div class="glyph">	<span class="fa fa-confused-o fa-smile"></span> </div>
	<div class="glyph">	<span class="fa fa-meh-o fa-smile"></span> </div>
	<div class="glyph">	<span class="fa fa-hipster-o fa-smile"></span> </div>
	<div class="glyph">	<span class="fa fa-wondering-o fa-smile"></span> </div>
	<div class="glyph">	<span class="fa fa-sleepy-o fa-smile"></span> </div>
	<div class="glyph">	<span class="fa fa-frustrated-o fa-smile"></span> </div>
	<div class="glyph">	<span class="fa fa-crying-o fa-smile"></span> </div>

	<hr />
	<h2 class="h2t">Gender</h2>

	<div class="glyph">	<span class="fa fa-venus"></span> </div>
	<div class="glyph">	<span class="fa fa-mars"></span> </div>
	<div class="glyph">	<span class="fa fa-mercury"></span> </div>
	<div class="glyph">	<span class="fa fa-transgender"></span> </div>
	<div class="glyph">	<span class="fa fa-transgender-alt"></span> </div>
	<div class="glyph">	<span class="fa fa-genderless"></span> </div>
	<div class="glyph">	<span class="fa fa-venus-double"></span> </div>
	<div class="glyph">	<span class="fa fa-mars-double"></span> </div>
	<div class="glyph">	<span class="fa fa-venus-mars"></span> </div>
	<div class="glyph">	<span class="fa fa-mars-stroke"></span> </div>
	<div class="glyph">	<span class="fa fa-mars-stroke-v"></span> </div>
	<div class="glyph">	<span class="fa fa-mars-stroke-h"></span> </div>
	<div class="glyph">	<span class="fa fa-neuter"></span> </div>

	<hr />
	<h2 class="h2t">Player controls</h2>

	<div class="glyph">	<span class="fa fa-play-circle"></span> </div>
	<div class="glyph">	<span class="fa fa-play-circle-o"></span> </div>
	<div class="glyph">	<span class="fa fa-pause-circle"></span> </div>
	<div class="glyph">	<span class="fa fa-pause-circle-o"></span> </div>
	<div class="glyph">	<span class="fa fa-stop-circle"></span> </div>
	<div class="glyph">	<span class="fa fa-stop-circle-o"></span> </div>
	<div class="glyph">	<span class="fa fa-eject"></span> </div>
	<div class="glyph">	<span class="fa fa-music"></span> </div>
	<div class="glyph">	<span class="fa fa-step-backward"></span> </div>
	<div class="glyph">	<span class="fa fa-fast-backward"></span> </div>
	<div class="glyph">	<span class="fa fa-backward"></span> </div>
	<div class="glyph">	<span class="fa fa-play"></span> </div>
	<div class="glyph">	<span class="fa fa-pause"></span> </div>
	<div class="glyph">	<span class="fa fa-stop"></span> </div>
	<div class="glyph">	<span class="fa fa-forward"></span> </div>
	<div class="glyph">	<span class="fa fa-fast-forward"></span> </div>
	<div class="glyph">	<span class="fa fa-step-forward"></span> </div>
	<div class="glyph">	<span class="fa fa-volume-up"></span> </div>
	<div class="glyph">	<span class="fa fa-volume-medium"></span> </div>
	<div class="glyph">	<span class="fa fa-volume-down"></span> </div>
	<div class="glyph">	<span class="fa fa-volume-off"></span> </div>
	<div class="glyph">	<span class="fa fa-volume-mute"></span> </div>
	<div class="glyph">	<span class="fa fa-volume-increase"></span> </div>
	<div class="glyph">	<span class="fa fa-volume-decrease"></span> </div>
	<div class="glyph">	<span class="fa fa-loop"></span> </div>
	<div class="glyph">	<span class="fa fa-random"></span> </div>
	<div class="glyph">	<span class="fa fa-shuffle"></span> </div>
	<div class="glyph">	<span class="fa fa-microphone"></span> </div>
	<div class="glyph">	<span class="fa fa-microphone-slash"></span> </div>
	<div class="glyph">	<span class="fa fa-enlarge"></span> </div>
	<div class="glyph">	<span class="fa fa-shrink"></span> </div>
	<div class="glyph">	<span class="fa fa-expand"></span> </div>
	<div class="glyph">	<span class="fa fa-compress"></span> </div>
	<div class="glyph">	<span class="fa fa-equalizer"></span> </div>
	<div class="glyph">	<span class="fa fa-equalizer-2"></span> </div>
	<div class="glyph">	<span class="fa fa-sliders"></span> </div>

	<hr />
	<h2 class="h2t">Services</h2>

	<div class="glyph">	<span class="fa fa-google-plus-circle"></span> </div>
	<div class="glyph">	<span class="fa fa-google-drive"></span> </div>
	<div class="glyph">	<span class="fa fa-ello"></span> </div>
	<div class="glyph">	<span class="fa fa-facebook-official"></span> </div>
	<div class="glyph">	<span class="fa fa-pinterest-p"></span> </div>
	<div class="glyph">	<span class="fa fa-pinterest"></span> </div>
	<div class="glyph">	<span class="fa fa-pinterest-square"></span> </div>
	<div class="glyph">	<span class="fa fa-google-plus-square"></span> </div>
	<div class="glyph">	<span class="fa fa-google-plus"></span> </div>
	<div class="glyph">	<span class="fa fa-whatsapp"></span> </div>
	<div class="glyph">	<span class="fa fa-twitter-circle"></span> </div>
	<div class="glyph">	<span class="fa fa-twitter-square"></span> </div>
	<div class="glyph">	<span class="fa fa-facebook-square"></span> </div>
	<div class="glyph">	<span class="fa fa-twitch"></span> </div>
	<div class="glyph">	<span class="fa fa-lanyrd"></span> </div>
	<div class="glyph">	<span class="fa fa-picassa"></span> </div>
	<div class="glyph">	<span class="fa fa-deviantart"></span> </div>
	<div class="glyph">	<span class="fa fa-steam"></span> </div>
	<div class="glyph">	<span class="fa fa-dropbox"></span> </div>
	<div class="glyph">	<span class="fa fa-onedrive"></span> </div>
	<div class="glyph">	<span class="fa fa-github-circle"></span> </div>
	<div class="glyph">	<span class="fa fa-github"></span> </div>
	<div class="glyph">	<span class="fa fa-github-square"></span> </div>
	<div class="glyph">	<span class="fa fa-github-alt"></span> </div>
	<div class="glyph">	<span class="fa fa-wordpress"></span> </div>
	<div class="glyph">	<span class="fa fa-blogger"></span> </div>
	<div class="glyph">	<span class="fa fa-tumblr-square"></span> </div>
	<div class="glyph">	<span class="fa fa-youtube-square"></span> </div>
	<div class="glyph">	<span class="fa fa-youtube"></span> </div>
	<div class="glyph">	<span class="fa fa-xing"></span> </div>
	<div class="glyph">	<span class="fa fa-xing-square"></span> </div>
	<div class="glyph">	<span class="fa fa-youtube-play"></span> </div>
	<div class="glyph">	<span class="fa fa-stack-overflow"></span> </div>
	<div class="glyph">	<span class="fa fa-instagram"></span> </div>
	<div class="glyph">	<span class="fa fa-flickr"></span> </div>
	<div class="glyph">	<span class="fa fa-adn"></span> </div>
	<div class="glyph">	<span class="fa fa-bitbucket"></span> </div>
	<div class="glyph">	<span class="fa fa-bitbucket-square"></span> </div>
	<div class="glyph">	<span class="fa fa-tumblr"></span> </div>
	<div class="glyph">	<span class="fa fa-yahoo"></span> </div>
	<div class="glyph">	<span class="fa fa-tux"></span> </div>
	<div class="glyph">	<span class="fa fa-finder"></span> </div>
	<div class="glyph">	<span class="fa fa-android"></span> </div>
	<div class="glyph">	<span class="fa fa-soundcloud"></span> </div>
	<div class="glyph">	<span class="fa fa-reddit"></span> </div>
	<div class="glyph">	<span class="fa fa-delicious"></span> </div>
	<div class="glyph">	<span class="fa fa-stackoverflow"></span> </div>
	<div class="glyph">	<span class="fa fa-xing-circle"></span> </div>
	<div class="glyph">	<span class="fa fa-flattr"></span> </div>
	<div class="glyph">	<span class="fa fa-foursquare"></span> </div>
	<div class="glyph">	<span class="fa fa-paypal"></span> </div>
	<div class="glyph">	<span class="fa fa-yelp"></span> </div>
	<div class="glyph">	<span class="fa fa-git-2"></span> </div>
	<div class="glyph">	<span class="fa fa-svg"></span> </div>
	<div class="glyph">	<span class="fa fa-dribbble"></span> </div>
	<div class="glyph">	<span class="fa fa-skype"></span> </div>
	<div class="glyph">	<span class="fa fa-trello"></span> </div>
	<div class="glyph">	<span class="fa fa-twitter"></span> </div>
	<div class="glyph">	<span class="fa fa-facebook"></span> </div>
	<div class="glyph">	<span class="fa fa-linkedin-square"></span> </div>
	<div class="glyph">	<span class="fa fa-linkedin"></span> </div>
	<div class="glyph">	<span class="fa fa-vine"></span> </div>
	<div class="glyph">	<span class="fa fa-codepen"></span> </div>
	<div class="glyph">	<span class="fa fa-jsfiddle"></span> </div>
	<div class="glyph">	<span class="fa fa-life-bouy"></span> </div>
	<div class="glyph">	<span class="fa fa-ra"></span> </div>
	<div class="glyph">	<span class="fa fa-ge"></span> </div>
	<div class="glyph">	<span class="fa fa-git-square"></span> </div>
	<div class="glyph">	<span class="fa fa-git"></span> </div>
	<div class="glyph">	<span class="fa fa-hacker-news"></span> </div>
	<div class="glyph">	<span class="fa fa-tencent-weibo"></span> </div>
	<div class="glyph">	<span class="fa fa-qq"></span> </div>
	<div class="glyph">	<span class="fa fa-wechat"></span> </div>
	<div class="glyph">	<span class="fa fa-vk"></span> </div>
	<div class="glyph">	<span class="fa fa-weibo"></span> </div>
	<div class="glyph">	<span class="fa fa-vimeo"></span> </div>
	<div class="glyph">	<span class="fa fa-vimeo-square"></span> </div>
	<div class="glyph">	<span class="fa fa-youtube-big"></span> </div>
</div>
<div class="form-footer"><button type="cancel" name="cancel">Close window</button></div>
